<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antenatal">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginScreen"
            android:theme="@style/AppTheme" />
        <activity android:name=".HealthTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReadTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrimesterTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FetalTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NutritionTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MonthlyTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeeklyTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DailyTips"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>